body {
  padding: 0;
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 17px;
  color: #000000;
  background-color: #ffffff;
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

a {
  text-decoration: none;
}

.header-logo-container {
  width:220px;
  height:45px;
  background-color:#ee3643;
  text-align:center;
  font-size:24px;
  line-height:24px;
  text-transform: uppercase;
  padding-top:10px;
  box-shadow: 0 0 5px;
  
}

.header-search {
  position:relative;
}

.header-search input {
  height: 40px;
  padding-left: 40px;
  font-size: 17px;
  border: none;
  background: transparent;
}

.header-search input:hover {
  outline: none;
}

.header-search input:focus {
  background: white;
}

.top-header a,
.search
{
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.top-header {
  background-color: #293449;
  width: 100%
}

.tab-container a:active,
.backet-container a:active
{
  background-color: #518534;
}

.order-container a:active {
  background-color: #518534;
}

.order-container {
  background-color: #63a63e;
  width: 150px;
  height: 45px;
  text-align: center;
  padding-top:10px;
  margin-left:30px;
}

.bucket-link {
  display:block;
  margin-left:45px;
  padding-top:10px;
}

.tab-link {
  display:block;
  padding-top:10px;
}

.middle-header {
  background-color: #f3f7f8;
  width:940px;
  margin-left:auto;
  margin-right:auto;
  padding-top:25px;
  padding-bottom:25px;
}

.header-phone {
  text-align:center;
}

.middle-header-center {
  background-color: #f3f7f8;
}

.header-slogan {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ef505b;
}

.header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ef505b;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: #99a3b0;
}

.header-user-block a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  display:inline-block;
  width:150px;
  height:35px;
  background-color:white;
  text-align:center;
  padding-top:10px;
}



.header-user-block a:hover {
color:#f0515c;
}

.bot-header {
  padding-bottom:60px;
}

.bot-header-list {
  display: inline-block;
  background-color: #32425c;
}

.bot-header-list li {
  list-style: none;
  padding:20px;
}

.bot-header-list-center {
  width:1000px;
  margin:0 auto;
}


.bot-header-menu li:hover {
  background-color: #293449;
}

.bot-header-menu li:active {
  background-color:#1d2739;
}

.bot-header {
  background-color: #f3f7f8;
}

.bot-header-list a {
  font-size: 17px;
  line-height: 17px;
  color: #d6d9de;
}

.catalog-headline {
  color: white;
  font-size: 24px;
  line-height: 30px;
  margin-left:20px;
  margin-top:0;
}

.catalog-banner {
  width:300px;
  height:125px;
  background-color:red;
  margin-bottom:20px;
}

.catalog-banner-materials-new {
  background-color: #ffbf47;
}

.catalog-banner-tools {
  background-color: #3bbce3;
}

.catalog-banner-machine {
  background-color:#dc91d8;
}

.catalog-banner-sales {
  background-color:#8ed78f;
}

.catalog-banner-delivery {
background-color: #ffc047;
}

.catalog-link {
  background-color:#e5e5e5;
}

.catalog-link a:hover {
  background-color:#cccccc;
}

.catalog-link a:active {
  background-color: #b2b2b2;
}

.catalog-link a {
  font-size: 14px;
  line-height: 18px;
}


.btn-open-catalog {
  background-color: #ee3643;
  display:none;
}

.btn-open-catalog a:hover {
  background-color: #ca2c37;
}

.btn-open-catalog a:active {
  background-color: #ba2732;
}


.slider-headline  {
  font-size: 36px;
  line-height: 36px;
  display:none;
}

.slider-text  {
  font-size: 18px;
  line-height: 24px;
  display:none;
}


.slider-item-visually-hidden {
  display: none;
}

.slider-controls-dots {
display:none;
}

.bestseller-container-headline {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.bestseller-container-link,
.producers-container-link
{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  color:white;
  display:block;
  width:247px;
  height:37px;
  text-align: center;
  padding-top:10px;
}

.bestseller-container-link-style {
  margin-top:20px;
  margin-right:24px;
  width:254px;
  height:39px;
}

.bestseller-container-headline {
  margin-left:30px;
}

.bestseller-container {
  background-color: #f9f5f0;
  width:940px;
  margin-left:auto;
  margin-right:auto;
}

.catalog-item,
.catalog-item-new {
  text-align: center;
}

.catalog-item-headline h3 {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item-price {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.catalog-item-price-new {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  display:block;
  width:140px;
  height:30px;
  background-color: #ee3643;
  text-align: center;
  color:#ffffff;
  padding-top:10px;
  margin-left:42px;
}

.catalog-item-price-opacity {
  color:#ffffff;
}

.catalog-item-hover {
  display:none;
}

.catalog-item,
.catalog-item-new {
  display:block;
  width: 220px;
  height:320px;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-item-hover-new {
  display:none;
}

.catalog-item-new:hover .catalog-item-hover-new {
  display: block;
}

.visually-hidden-link-buy {
  background-color:#63a63e;
  font-size:14px;
  line-height:18px;
}

.visually-hidden-link-buy:hover {
  background-color:#5fbb2d;
  font-size:14px;
  line-height:18px;
}

.visually-hidden-link-buy:active {
  background-color:#518534;
  font-size:14px;
  line-height:18px;
}

.visually-hidden-link-tab {
  background-color:#63a63e;
  font-size:14px;
  line-height:18px;
}

.visually-hidden-link-tab:hover {
  background-color:#5fbb2d;
  font-size:14px;
  line-height:18px;
}

.visually-hidden-link-tab:active {
  background-color:#518534;
  font-size:14px;
  line-height:18px;
}
 

.producers-list li {
  list-style: none;
}

.producers-container-headline {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left:40px;
}

.producers-container {
  width:940px;
  margin-left:auto;
  margin-right:auto;
  background-color: #f9f5f0;
}

.producers-container-link-style {
  margin-top: 20px;
  margin-right:24px;
  width: 254px;
  height: 39px;
  
}


.producers-list-item  {
  width:220px;
  height:145px;
  text-align:center;
}

.producers-list {
padding:0;
}

.service {
  background-color: #f4f7f9;
}

.service-list {
  list-style: none;
  background-color:#32425c;
  width:240px;
  margin:0;
  padding:0;
  list-style:none;
}

.service-list:hover {
  background-color:#293449;

}
.service-headline {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-headline,
.guarantee-headline,
.credit-headline,
.company-info-headline {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.service-tab-item {
  display:none;
}

.service-tab-item-active {
  display:block;
}

.service-button {
  width:240px;
  height:62px;
  background-color:#32425c;
  color:#ffffff;
  border:1px solid #4e637c;
  
}

.service-wrapper {
  width:940px;
  margin:0 auto;
}

.company-section-wrapper {
  width:940px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  height: 370px;
}

.company-section {
  margin-top:80px;
  margin-bottom:85px;
}

.about-us-title {
  font-size:30px;
  line-height:30px;
  text-transform:uppercase;
}

.about-us-text {
  font-size:13px;
  line-height:24px;
}

.top-footer {
  background-color: #32425c;
}

.company-info-list li {
  list-style: none;
}

.company-info-text {
  font-size:13px;
  line-height:24px;
}

.company-info-link {
  display:block;
  width:220px;
  height:37px;
  background-color: #ee3643;
  color:white;
  padding:10px;
  text-align: center;
  font-size:14px;
  line-height: 18px;
  margin-top:40px;

}

.catalog-link-first {
  display:block;
  width:300px;
  height:35px;
  background-color: #ee3643;
  color: white;
  padding:10px;
  text-align: center;
  margin-top:40px;
}

.footer-info p {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-list a {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-list-second a {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-list li,
.footer-list-second li,
.social-button-list li {
  list-style:none;
}

.bot-footer {
  background-color: #293449;
}

.copyright {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f9;
}

.feed-back p {
  font-size: 16px;
  line-height: 18px;
  color: #f3f7f9;
}

.social-button {
  background-color:#212a3a;
}

.social-button a:hover,
.social-button a:active
{
  background-color: #212a3a;
}

.your-name,
.your-mail,
.your-message
{
font-size:18px;
  line-height: 18px;
}

.modal-window {
  display: none;
}

.map-pop-up {
  display:none;
}

/*сетка*/

.header-container {
  display:flex;
}

.tab-container {
  margin-left:auto;
}

.middle-header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  width:940px;
}

.bot-header-list {
  display:flex;
  justify-content: space-between;
  width:900px;;
  margin:auto;
  height:60px;
  text-align:center;
}

.top-header-center {
  width:940px;
  margin-left:auto;
  margin-right:auto;
}

.features {
  margin-top:60px;
}

.features-first {
  display:flex;
  justify-content:space-between;
  width:940px;
  margin-left:auto;
  margin-right:auto;
}

.features-second {
  display:flex;
  justify-content:space-between;
}


.features-center {
  width:940px;
  margin: 0 auto;
}

.catalog {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width:940px;
  margin:20px  auto;
}

.producers-container-list {
  width:940px;
  margin-right:auto;
  margin-left:auto;
}

.producers-list {
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  
}

.bestseller-container {
  display:flex;
  justify-content:space-between;
}

.producers-container {
  display:flex;
  justify-content:space-between;
}

.top-footer-container {
  width:940px;
  margin:0 auto;
}

.top-footer-container {
  display:flex;
}

.footer-list {
  display:flex;
  justify-content: space-between;
}

.footer-list-second {
  display:flex;
  justify-content: space-between;
}

.footer-list-second a {
  margin-left:60px;
}

.footer-phone {
  margin-top:0px;
}

.footer-address {
  margin-bottom:0px;
}

.bot-footer-container {
  display:flex;
  justify-content: space-between;
  width:940px;
  margin: 0 auto;
}

.social-button-list {
  display:flex;
  justify-content:space-around;
}



























